body{
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(215,111,255,1) 0%, rgba(120,0,255,1) 100%);
    font-family: 'Montserrat Alternates';
}

.tasks{
    color: #fff;
    border: 1px solid white;
}

.header{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.header a, .header img {
  margin: 10px 30px;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.centerTable{
    border-spacing: 0px;
    width: 100%;
    margin-bottom: 3%;
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
}

td{
    padding: 10px;
    text-align:center;
    border: 1px solid #fff;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url("/font/Alternates.ttf");
}

.project{
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 10px;
}

.allForm{
    padding: 20px;
    text-align: center;
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
    border-radius: 20px;
    width: 30%;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    margin: 0 auto;
}

.main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.form-input{
    width: 200px;
    height: 35px;
    margin-top: 2%;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border: none;
    border-radius: 20px;
    background: #fff;
}

.acceptReq{
    width: 200px;
    height: 35px;
    margin-top: 2%;
    border: none;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    background: rgb(168,208,255);
    background: linear-gradient(90deg, rgba(168,208,255,1) 0%, rgba(255,149,195,1) 100%);
    color: #fff;
}

.accept{
    width: 100px;
    padding: 10px;
    background: rgb(168,208,255);
    background: linear-gradient(90deg, rgba(168,208,255,1) 0%, rgba(255,149,195,1) 100%);
}

.center{
    margin-bottom: 3%;
    text-align: center;
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
    color: #fff;
    border-spacing: 0px;
}

.main1{
    width: 100%;
    text-align: center;
}

.logo{
    width:70px;
    height:100px;
}

.centerTasks{
    border-spacing: 0px;
    margin: 0 auto;
    color: #fff;
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
}

.pre_header{
    background: #000;
    text-align: right;
    width: 100%;
    color: #fff;
}

.pre{
    color: #fff;
    margin-right: 2%;
    font-size: 15px;
}

.access{
    width: 300px;
    padding: 10px;
    background: rgb(37,255,77);
    background: linear-gradient(90deg, rgba(37,255,77,1) 0%, rgba(211,255,211,1) 100%, rgba(255,255,255,1) 100%);
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pipw{
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
    border-radius: 20px;
    margin-bottom: 3%;
}

.head-form{
    color: #fff;
}

.opp{
    color: #fff;
}

.admin{
    border-spacing: 0px;
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
}

.notFound{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
    padding: 50px;
    border-radius: 10px;
    color: #fff;
}

.projectFind{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: rgb(129,127,245);
    background: linear-gradient(90deg, rgba(129,127,245,1) 0%, rgba(176,111,255,1) 100%);
    padding: 50px;
    border-radius: 10px;
    color: #fff;
}

.projectFind p{
    display: inline;
}




