<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="main">
  <form method="POST" action="/login" class="login">
    <div class="con">
      <header class="head-form">
        <h2>Войти</h2>
      </header>
      <div class="field-set">
        <input class="form-input" id="txt-input" type="text" name="username" placeholder="Логин" required>
        <br>
        <input class="form-input" id="pwd" type="password" name="password" placeholder="Пароль" required>
        <br>
        <button class="sign-in" type="submit">Войти</button><br>
        <a href="/registration"><button class="sign-up" type="button">Зарегистрироваться</button></a>
      </div>
    </div>
  </form>
</div>
</body>
</html>
</body>
</html>